/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Source+Sans+Pro&display=swap');

/* Colors */

/* Global Styles */

*, *::before, *::after {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    color: #2c3e50;
}

main {
    position: relative;
}

section {
    padding-top: 5rem;
    padding-bottom: 1rem;
}

footer {
    position: relative;
    bottom: 0;
}

h1, 
h2, 
h3, 
h4,
h5, 
h6 {
    font-family: 'Poppins', sans-serif;
}

h2 {
    font-size: 2.25rem;
    font-weight: 600;
    letter-spacing: 2;
    text-align: center;
    margin-bottom: 3rem;
}


/* Header */
#header {
    box-shadow: 0px 3px 4px #ecf0f1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.logo-container {
    padding: 1rem;
}

.temp-logo {
    font-size: 1.3rem;
    font-weight: 900;
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 0.5rem;
}

header {
    background-color: white;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}

#nav-list {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    background: none;
}

.nav-item {
    margin-left: 2rem;
}

.nav-link {
    font-family: 'Source Sans Pro', sans-serif;
}

/* Banner */
#banner {
    margin: 0 auto;
    width: 90vw;
    height: 100vh;
    display: flex;
    align-items: center;
}

.banner-text {
    width: 50%;
    margin-left: 3rem;
}

.banner-text > h1 {
    font-size: 4rem;
    margin-bottom: 1.5rem;
}

.banner-text > p {
    font-size: 1.25rem;
    margin-bottom: 3rem;   
}

#banner-btn-white {
    margin-left: 1rem;
}

#banner-image-container {
    width: 60%;
}

#banner-temp-shape {
    border: 2px dotted #2980b9;
    border-radius: 800px;
    margin: 0 auto;
    margin-top: 4rem;
    width: 650px;
    height: 500px;
}

/* Projects */
#projects {
    background-color: #ecf0f1;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#projects-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
    flex-wrap: wrap; 
}
.project-item {
    width: fit-content;
}

.project-img-container {
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.temp-featured-img {
    background-color: #bdc3c7;
    width: 200px;
    height: 200px;
}

.project-text-container {
    background-color: #7f8c8d;
    padding: 2rem 1rem;
    width: auto;
}

/* CTA: Projects */
.cta {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1;
    padding: 1rem;
}

.cta-text {
    margin-right: 2rem;
}

/* Skills */
#skills {
    display: flex;
    flex-direction: column;
}

.skills-container {
    width: 70vw;
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 2rem;
}

.skill-container {
    width: fit-content;
    display: flex;
    align-items: center;
    margin: 1rem 3rem 1rem 5rem;
}

.ellipse {
    background-color: #ecf0f1;
    border-radius: 100px;
    padding: 2rem;
    margin-right: 2rem;
}

.skill-text > h3 {
    font-size: 1.5rem;
}

/* Service */
#services {
    background-color: #ecf0f1;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
}

#services-header {
    width: 50vw;
    margin: 0 auto;
}

#services-header > h2{
    margin-bottom: 1rem;
}

#services-header > p {
    text-align: center;
}

#phases-container {
    width: 20vw;
    margin: 0 auto;
    padding-top: 3rem;
}

.phase-container {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
}

.phase-point {
    background-color: #2980b9;
    border-radius: 80px;
    margin-right: 3rem;
    width: 33px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center
}

.outline-center {
    background-color: #ecf0f1;
    border-radius: 80px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    background-color: #2980b9;
    border-radius: 80px;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.phase-text-container {
    display: inline-block; 
}

.phase-text {
    width: fit-content;
    font-size: 1.35rem;
    margin-left: 1rem;
}

span.phase-number {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
}

span.phase-number::before {
    content: "Step ";
    font-weight: 600;
    font-size: 1.5rem;
}

#work-together {
    width: auto;
}

/* Blog */
#featured-posts {
    width: 70vw;
    margin: 0 auto;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3;
}

.blog-blerb {
    text-align: center;
    line-height: 2rem;
    padding: 2rem;
}

.blog-blerb > h3 {
    font-weight: 600;
}

.blog-blerb > p {
    margin-bottom: 1rem;
}

.read-more {
    border: 1px solid #2980b9;
    color: #2980b9;
    width: 7rem;
    font-size: 1rem;
    padding: 0.25rem 1rem;
}

/* Contact */
#contact {
    background-color: #7f8c8d;
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.contact-title {
    margin-left: 3rem;
}

.contact-title > h3 {
    font-size: 2rem;
    padding-bottom: 8px;
}
.contact-title > p {
    margin-bottom: 5.5rem;
}

.contact-socials > h4 {
    margin-bottom: .8rem;
}

.social-icon {
    padding-right: 2.5rem;
}

form > h4 {
    font-style: italic;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: .8rem;
    width: 60%;
    height: 4rem;
}
#message {
    border: none;
    width: 75%;
    height: 4rem;
    margin-top: 1rem;
}

#submit {
    background-color: whitesmoke;
    color: #2c3e50;
    border: none;
    border-radius: 2px;
    font-size: 1rem;
    margin-top: 1.2rem;
    width: 4rem;
}

#submit:hover,
#submit:active {
    background-color: #2c3e50;
    color: whitesmoke;
}

/* Footer */
.footer {
    text-align: center;
    padding: 1rem 0;
}